@charset "utf-8";
/* CSS Document */

header {
    width:100%;
}

#logo {
    width:263px;
    display:block;
    margin:0 auto;
}

/* --------------------------------- NAVIGATION -----------------------------------------------------*/

nav{
	width: 302px;
	margin: 0 auto;
	height: 54px;
}

nav form{
	display:block;
}

nav select{
	width:100%;
	height:54px;
	padding:5px;
	border:5px solid rgba(22, 28, 48, 0.5);
	font-size: 17pt;
	background-color: rgba(22, 28, 48, 0.5);
	color: white;
}
/* --------------------------------- CONTENT --------------------------------------------------------*/

.main {
    width: 250px;
    margin:10px auto;
    padding:25px;

}

h1{
	margin:0;
}

/*---------------------------------- HOME -----------------------------------------------------------*/


#home .button{
	float:none;
}

#home #part2{
	height:630px;
	margin-top: 37px;
}

#home .package{
	margin: 17px auto;
	width: 208px;
}


#home .package p
{
	margin:0;
	padding:0;
	font-size:12px;
}

#home .package_description{
	margin-bottom:25px;
}



/*---------------------------------- BOOK NOW (All) -------------------------------------------------*/
.book-now #progress {
	margin: -10px 0;
	float: none;
	text-align: center;
}
/*---------------------------------- BOOK NOW 1 -----------------------------------------------------*/

/*---------------------------------- BOOK NOW 2 -----------------------------------------------------*/

/*---------------------------------- BOOK NOW 3 -----------------------------------------------------*/

/*---------------------------------- BOOK NOW 4 -----------------------------------------------------*/

/* --------------------------------- Enter Code (Manage Bookings) -----------------------------------*/

/* --------------------------------- Manage Bookings ------------------------------------------------*/

/* --------------------------------- Tours & Packages -----------------------------------------------*/

/* --------------------------------- Flight Schedule ------------------------------------------------*/
#flight-schedule #part1{
    position:relative;
    min-height:350px;
}

#flight-schedule .cal-month{
    width:260px;
}

#flight-schedule .cal-row{
    width:260px;
}

#flight-schedule .cal-cell{
    width:24px;
}

/* --------------------------------- ABOUT US -------------------------------------------------------*/

.founder {
	margin-bottom:25px;
}
.founder img{
	width:100%;
}

/* --------------------------------- FAQ ------------------------------------------------------------*/
#faq h1
{
	margin:0px;
	padding:0px;
	font-size:1.5em;
	font-weight:600;
}

#faq ul{
    margin-bottom:10px;
}

#faq #part2{
    border-top:1px solid black;
    margin-top:15px;
    padding-top:10px;
}

/*---------------------------------- CONTACT US -----------------------------------------------------*/

#contact-us .subtitle {
    margin-top: 0px;
}

#contact-us form h2 {
	display:block;
	margin-bottom:0;
}

#contact-us .message-title {
    top: 0px;
}

#contact-us input[type="text"], #contact-us input[type="email"], #contact-us textarea  {
	margin-left:0;
	width: 91%;
}

#contact-us .button{
	width: 83%;
	margin-left:0;
}

.large-frame{
	display:none;
}


/* --------------------------------- FOOTER ---------------------------------------------------------*/

footer
{
	width:302px;
    height:250px;
	margin:0 auto;
}

.footer-info
{
	height:100px;
	width: 114px;
	padding-left: 29px;
}

footer ul{
	clear:both;
}

footer #f-contact{
    margin-right:28px;
}

footer #f-policies{
    margin-right:3px;
}
