@charset "utf-8";
/* CSS Document */

header {
    width:100%;
}

#logo {
    width:263px;
    display:block;
    margin:0 auto;
}

/* --------------------------------- NAVIGATION -----------------------------------------------------*/

nav{
	width: 302px;
	margin: 0 auto;
	height: 54px;
}

nav form{
	display:block;
}

nav select{
	width:100%;
	height:54px;
	padding:5px;
	border:5px solid rgba(22, 28, 48, 0.5);
	font-size: 17pt;
	background-color: rgba(22, 28, 48, 0.5);
	color: white;
}
/* --------------------------------- CONTENT --------------------------------------------------------*/

.main {
    width: 250px;
    margin:10px auto;
    padding:25px;

}

h1{
	margin:0;
}

/*---------------------------------- HOME -----------------------------------------------------------*/


#home .button{
	float:none;
}

#home #part1{
}

#home #twitter {
    
}

#home #part2{
	height:630px;
	margin-top: 17px;
}

#home .package{
	margin: 17px auto;
	width: 208px;
}


#home .package p
{
	margin:0;
	padding:0;
	font-size:12px;
}

#home .package_description{
	margin-bottom:25px;
}

/*---------------------------------- BOOK NOW (All) -------------------------------------------------*/

.book-now #progress {
	margin: -10px 0;
	float: none;
	text-align: center;
    margin-bottom:5px;
}

.book-now #part1{
    position:relative;
}

.book-now .back{
    position:absolute;;
    top:-27px;
    left:-10px;
}

/*---------------------------------- BOOK NOW 1 -----------------------------------------------------*/

#book-now-1 .squareImage{
    display:none;
}

#book-now-1 .package label{
	font-size: 1.1em;
	margin: 0 auto;
    font-weight:bold;
}

#book-now-1 a.info{
	font-size:0.9em;
	color:#35796c;
	text-decoration: none;
}

#book-now-1 .package {
	width: 100%;
	float: left;
	text-align: center;
}

#book-now-1 .package img{
	width: 93%;
	float:none;
	margin:0;
    margin-top:-16px;
}

#book-now-1 .package label:hover{
    cursor:pointer;
}

#book-now-1 input[type="radio"]{
	margin: 6px auto;
    visibility:hidden;
}

/* Trying to get the non-selected package label (image and title) to fade out.*/
#book-now-1 input[type="radio"]~label{
	opacity:0.5;
}

#book-now-1 input[type="radio"]:checked~label{
	opacity:1.0;
}

#book-now-1 .note{
	font-size:0.8em;
	color:#504e4f;
	display:block;
}

#book-now-1 fieldset{
	border: 1px solid #acd5c3;
	background-color:white;
}

#book-now-1 #part2{
    margin-top:20px;
}

#book-now-1 h2{
    margin:10px 0 0 0;
}

#book-now-1 input[type="date"]{
    width:245px;
    height:40px;
}

#book-now-1 select{
    width:250px;
    height:40px;
}

#book-now-1 textArea{
    width:244px;
}

#book-now-1 #month {
    width:80px;
}

#book-now-1 #day {
    width:65px;
}

#book-now-1 #year {
    width:97px;
}

/*---------------------------------- BOOK NOW 2 -----------------------------------------------------*/

#book-now-2 #selection{
    padding: 5px 5px 12px;
    height:225px;
}

#book-now-2 #selection img{
    margin:15px 15px;   
}

#book-now-2 #selection ul{
    float:right;
}

#book-now-2 #selection .titles{
    float:left;
}

#book-now-2 #part2{
    margin-top:40px;
}

/*---------------------------------- BOOK NOW 3 -----------------------------------------------------*/

#book-now-3 #part1{
    position:relative;
}

#book-now-3 #part2{
    position:relative;
}

#book-now-3 h3{
    display:inline;
}

#book-now-3 input[type="text"], #book-now-3 input[type="email"], #book-now-3 input[type="tel"]{
    width:234px;
    padding:6px;
    margin:5px 0;
}

#book-now-3 input[type="date"], textarea, select{
	padding: 6px;
}

#book-now-3 #column2 select{
    margin-bottom:5px;
}

#book-now-3 label[for="expiry-month"]{
    margin-right:200px;
}

#book-now-3 label[for="secure-code"]{
    margin-left:5px;
    margin-right:5px;
}

#book-now-3 #secure-code{
    width:50px;
}

/*---------------------------------- BOOK NOW 4 -----------------------------------------------------*/

#book-now-4 #confirmation{
    font-size:2em;
    background-color:white;
    display:block;
    padding:10px;
    width:228px;
    text-align:center;
    border:1px solid #acd5c3;
}

/* --------------------------------- Enter Code (Manage Bookings) -----------------------------------*/

#enter-code h1{
    margin:0px;
}

#enter-code input[type="text"]{
	padding:6px 10px;
    width:116px;
}

#enter-code .button{
	width:150px;
	display: inline;
	padding: 3px 15px;
	top: 2px;
}

/* --------------------------------- Manage Bookings ------------------------------------------------*/

#manage-bookings .booking-summaries {
	border: 1px solid #acd5c3;
	background-color:white;
	padding: 2px 26px 10px 22px;
    padding:10px;
    margin:10px 0 0 0;
    height:395px;
}

#manage-bookings fieldset {
    height:390px;
}

#manage-bookings .booking-summaries li{
    margin:5px 0px;
    padding:0;
    list-style-type: none;
    height:55px;
}

#manage-bookings .booking-summaries ul{
    padding:0px;
    margin:0px;
    margin-top:25px;
    float:left;
}

#manage-bookings .booking-summaries .titles {
    width:160px;
    margin-top:0px;
    position:absolute;
}

#manage-bookings .booking-summaries h4{
	display:inline;
    font-size:1.1em;
}

#manage-bookings .booking-summaries li a{
	color:rgb(53, 121, 108);;
}

#manage-bookings .editable {
    margin-top:-8px;
    width:230px;
}

#manage-bookings #month {
    width:75px;
}

#manage-bookings #day {
    width:60px;
}

#manage-bookings #year {
    width:87px;
}

/* --------------------------------- Tours & Packages -----------------------------------------------*/

#tours-packages #part1{
    height:450px;
}

#tours-packages .squareImage{
    display:none;
}

#tours-packages .fine-print{
    font-size:0.9em;
    color:grey;
}

#tours-packages #part2 a{
    font-weight:bold;
}

#tours-packages .package h2{
	font-size: 1em;
	width: 100%;
	margin: 0 auto 10px;
    color:black;
}

#tours-packages a.info{
	font-size:0.9em;
	color:#35796c;
	text-decoration: none;
}

#tours-packages .package {
	width: 100%;
	float: left;
	text-align: center;
}

#tours-packages .package img{
	width: 93%;
	float:none;
	margin:0;

}

#tours-packages #choose-package{
    height:180px;
}

#tours-packages #part2 h1{
    font-weight:600;
}


#tours-packages .customer-feedback img{
  max-height: 51px;
}


/* --------------------------------- Flight Schedule ------------------------------------------------*/
#flight-schedule #part1{
    position:relative;
    min-height:350px;
}

#flight-schedule .cal-month{
    width:260px;
}

#flight-schedule .cal-row{
    width:260px;
}

#flight-schedule .cal-cell{
    width:24px;
}

#flight-schedule .details ul{
    
}

#flight-schedule .details ul ul{
    position: relative;
    left: 55px;
    top: -20px;
    width:200px;
}

/* --------------------------------- ABOUT US -------------------------------------------------------*/

.founder {
	margin-bottom:25px;
}
.founder img{
	width:100%;
}

/* --------------------------------- FAQ ------------------------------------------------------------*/
#faq h1
{
	margin:0px;
	padding:0px;
	font-size:1.5em;
	font-weight:600;
}

#faq ul{
    margin-bottom:10px;
}

#faq #part2{
    border-top:1px solid black;
    margin-top:15px;
    padding-top:10px;
}

/*---------------------------------- CONTACT US -----------------------------------------------------*/

#contact-us .subtitle {
    margin-top: 0px;
}

#contact-us form h2 {
	display:block;
	margin-bottom:0;
}

#contact-us .message-title {
    top: 0px;
}

#contact-us input[type="text"], #contact-us input[type="email"], #contact-us textarea  {
	margin-left:0;
	width: 91%;
}

#contact-us .button{
	width: 83%;
	margin-left:0;
}

.large-frame{
	display:none;
}


/* --------------------------------- FOOTER ---------------------------------------------------------*/

footer
{
	width:302px;
    height:250px;
	margin:0 auto;
}

.footer-info
{
	height:100px;
	width: 114px;
	padding-left: 29px;
    margin-bottom:10px;
}

footer ul{
	clear:both;
}

footer #f-contact{
    margin-right:28px;
}

footer #f-policies{
    margin-right:3px;
}
