/*@import url(desktop.css) and (min-width: 780px); */
/*@import url(tablet.css) and (max-width: 480px); */
@charset "utf-8";
/* CSS Document */

body
{
	/* Full width background method from this tutorial: http://css-tricks.com/perfect-full-page-background-image/ */
	background: url(../images/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    background-color:#333;
  	/* End full width background*/
    
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
	font-size:14px;
}

a{
	color:rgb(53, 121, 108);
    text-decoration:none;
}

a:hover {
    color:#292929;
}

/* --------------------------------- NAVIGATION -----------------------------------------------------*/

nav
{
  display:block;
  background-color:rgba(22, 28, 48, 0.5);
  height:40px;
}

nav ul{
  display:none;
}

nav ul li
{
  list-style:none;
  display:inline;
}

nav form{
  display:none;
}

nav ul li a
{
  color:#FFF;
  text-decoration:none;
}

nav ul li a:hover
{
  color:#999;
}


/* --------------------------------- CONTENT --------------------------------------------------------*/

.main{
    background-color:rgba(255, 255, 255, 0.8);
        border:1px solid white;
}

.button, button
{
  display:block;
  text-decoration:none;
  color:#292929;
  margin-top:20px;
  background-image:url(../images/button_texture.png);
  background-repeat:repeat-x;
  border:1px solid #b1b2b2;
  position:relative;
  font-size:20px;
}

.button{
  padding:10px 20px;
  height:27px;
  text-align:center;
}

.button:hover
{
  opacity:0.75;
}

.highlighted
{
  font-weight:600;
  background-image:url(../images/button_highlighted_texture.png);
  border:1px solid #49a994;
}

/*---------------------------------- HOME -----------------------------------------------------------*/

#home h1
{
  font-weight:normal;
  padding:0;
}


#home .button{
  float:left;
}

#home #part1 h2{
  font-size: 1.1em;
  margin-top: 77px;
  margin-bottom: 0;
}

#home #part1 h2 a{
  color:black;
}

#home #part1 h2 a:hover{
  color:rgb(53, 121, 108);;
}

.tweet{
  margin-top:0;
  font-size:0.9em;
}

.time{
  color:gray;
  font-style: italic;
}

#home .package h2
{
  margin:0;
  padding:0;
  font-size:16px;
}

#home .package_description
{
  float:left;
  width:195px;
  clear:right;
  margin-left:10px;
  color:black;
}


#home a .package span.details
{
  color:#246b78;
  text-decoration:none;
  font-weight:600;
}

#home a:hover .package span.details
{
  color:#292929;
}


/*---------------------------------- BOOK NOW (All) -------------------------------------------------*/
.book-now #progress {
  font-size: 1.3em;
  float: right;
  color:#a8acad;
}

.book-now #progress .active{
  color:black;
  font-weight:bold;
}

.book-now #progress .separator{
  font-size: 0.6em;
}

/*---------------------------------- BOOK NOW 1 -----------------------------------------------------*/

/*---------------------------------- BOOK NOW 2 -----------------------------------------------------*/

/*---------------------------------- BOOK NOW 3 -----------------------------------------------------*/



#book-now-3 #secure-code{
  width:35px;
}

#book-now-3 input[type="text"], #book-now-3 input[type="email"], #book-now-3 input[type="tel"]{
  padding: 6px;
  width:200px;
  margin-top:5px;
}

#book-now-3 #name{
  margin-left: 6px;
}

#book-now-3 #email{
  margin-left: 10px;
}

#book-now-3 #phone{
  margin-left: 4px;
}

#book-now-3 #address{
  margin-left: 4px;
}

#book-now-3 #city{
  margin-left: 35px;
}

#book-now-3 #province{
  margin-left: 68px;
}

#book-now-3 #country{
  margin-left: 1px;
  width: 100px;
}

#book-now-3 #postal-code{
  margin-left:11px;
}

#book-now-3 #expiry-month{
  margin-left:52px;
}

#book-now-3 label[for=secure-code]{
  margin-left:10px;
}



/*---------------------------------- BOOK NOW 4 -----------------------------------------------------*/

/* --------------------------------- Enter Code (Manage Bookings) -----------------------------------*/

/* --------------------------------- Manage Bookings ------------------------------------------------*/

/* --------------------------------- Tours & Packages -----------------------------------------------*/

/* --------------------------------- Flight Schedule ------------------------------------------------*/
#flight-schedule h1{
    margin:15px 0 0;
}

#flight-schedule .legend{
  float:left;
}

#flight-schedule p{
  margin: 0 23px;
  width:150px;
}
.swatch{
  width:20px;
  height:20px;
  display:block;
  float:left;
}

#flight-schedule .cal-month{
    margin:0px auto;
}

#flight-schedule .cal-row{
    float:left;
}

#flight-schedule .cal-month h2{
    font-size:16px;
    margin:3px 4px;
    padding:0px;
}

#flight-schedule .month-picker{
    margin-left:30px;
}

#flight-schedule .cal-row{
    text-align:right;
}



#flight-schedule .cal-cell{
    height:28px;
    margin:1px;
    background-color: rgba(255, 255, 255, 0.4);
    float:left;
    padding:5px;
}


#flight-schedule .cal-cell:hover{
    cursor:pointer;
    cursor:hand;
}

#flight-schedule .header{
    height:18px;
}

#flight-schedule .header:hover{
    cursor:default;
}

#flight-schedule .cell-faded{
    color:rgba(0, 0, 0, 0.3);
}

#flight-schedule .details h3 {
    margin:32px 0px;
}

#flight-schedule .details a{
    text-decoration:none;
    color:#246b78;
}

#flight-schedule .details a:hover{
    color:#292929;
}

#flight-schedule .details ul .booked {
    text-decoration:line-through;
}

#flight-schedule .has-availability{
  background-color:#45a5b3;
}

#flight-schedule .all-booked{
  background-color:gray;
}

/* --------------------------------- ABOUT US -------------------------------------------------------*/

#about-us p{
  font-size:0.9em
}

.founder p{
  font-size:0.8em;
}

.founder h3{
    font-size:1em;
    margin: 0;
}

.job{
  font-weight:normal;
  margin-left:10px;
}



/* --------------------------------- FAQ ------------------------------------------------------------*/

#faq ul{
  margin:0px;
  padding:0px;
}

#faq ul li{
  list-style:none;
}

#faq ul li a{
  color:#246b78;
}

#faq ul li a:hover{
  color:#292929;
}

#faq .answer {
  display:none;
}
/*---------------------------------- CONTACT US -----------------------------------------------------*/

#contact-us #part2{
  padding-top:13px;
}

#contact-us .subtitle{
  margin-top:-10px;
}

#contact-us h2{
  font-size:1.1em;
}

#contact-us form h2{
  display:inline;
  font-size:1em;
}

#contact-us h3{
  display:inline;
  font-size:1em;
}

#contact-us .note{
  color:#504e4f;
  display:inline;
  font-size:0.8em;
}

#contact-us ul{
  list-style-type: none;
  padding-left: 0;
}

#contact-us ul li a
{
  color:rgb(53, 121, 108);
  /*text-decoration:none;*/
}

#contact-us label{
  width:30px;
}


#contact-us input[type="text"],#contact-us input[type="email"], #contact-us textarea{
  padding:7px 10px;
}

#contact-us input[type="text"]{
  margin-left: 24px;
}

#contact-us input[type="email"]{
  margin-left: 28px;
  margin-top: 4px;
}


#contact-us .button{
  width: 106px;
  margin-left: 69px;
  margin-top: 5px;
}

#contact-us .message-title{
  top: 10px;
  position: relative;
}

.google-link{
  text-align:left;
}
/* --------------------------------- FOOTER ---------------------------------------------------------*/

footer{
  background-color:rgba(22, 28, 48, 0.5);
}

.footer-info
{
  position:relative;
  float:left;
  padding-top:15px;
}

footer h2
{
  font-size:0.9em;
  color:#FFF;
  margin:0;
  padding:0;
  float:left;
  font-weight:600;
}

footer h2 a{
  color:#FFF;
  text-decoration:none;
}

footer ul
{
  margin:0 0 0 10px;
  padding:0;
    float:left;
}

footer ul li
{
  color:#FFF;
  list-style:none;
  font-weight:300;
  font-size:0.9em;
}

footer ul li a
{
  color:#FFF;
  text-decoration:none;
}

footer ul li a:hover
{
  color:#999;
}