@charset "utf-8";
/* CSS Document */

body
{
	/* Full width background method from this tutorial: http://css-tricks.com/perfect-full-page-background-image/ */
	background: url(../images/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    background-color:#333;
  	/* End full width background*/
    
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
	font-size:14px;
}

a{
	color:rgb(53, 121, 108);
    text-decoration:none;
}

a:hover {
    color:#292929;
}

/* --------------------------------- NAVIGATION -----------------------------------------------------*/

/* --------------------------------- CONTENT --------------------------------------------------------*/

/*---------------------------------- HOME -----------------------------------------------------------*/

/*---------------------------------- BOOK NOW (All) -------------------------------------------------*/

/*---------------------------------- BOOK NOW 1 -----------------------------------------------------*/

/*---------------------------------- BOOK NOW 2 -----------------------------------------------------*/

/*---------------------------------- BOOK NOW 3 -----------------------------------------------------*/

/*---------------------------------- BOOK NOW 4 -----------------------------------------------------*/

/* --------------------------------- Enter Code (Manage Bookings) -----------------------------------*/

/* --------------------------------- Manage Bookings ------------------------------------------------*/

/* --------------------------------- Tours & Packages -----------------------------------------------*/

/* --------------------------------- Flight Schedule ------------------------------------------------*/

/* --------------------------------- ABOUT US -------------------------------------------------------*/

/* --------------------------------- FAQ ------------------------------------------------------------*/

/*---------------------------------- CONTACT US -----------------------------------------------------*/

/* --------------------------------- FOOTER ---------------------------------------------------------*/
