@charset "utf-8";
/* CSS Document */

header {
    width:100%;
}

#logo {
    width:263px;
    display:block;
    margin:0 auto;
}

/* --------------------------------- NAVIGATION -----------------------------------------------------*/

nav
{
    margin:0 auto;
    width:530px;
    text-align:center;
}

nav ul
{
	display:block;
    padding:0px;
	margin:10px;
    position:relative;
    top:10px;
}

nav ul li
{
	margin:0 3px;
}



/* --------------------------------- CONTENT --------------------------------------------------------*/

.main {
    width:478px;
    margin:10px auto;
    padding:25px;

}


/*---------------------------------- HOME -----------------------------------------------------------*/

#home h1{
    margin:0 auto;
    width:380px;
}

#home .highlighted {
    margin-right:22px;
    margin-left:32px;
    clear:left;
}

#home #part1 {
    height:330px;
}

#home .package{
    height:120px;
    width:414px;
    margin:0 auto;
}

#home .package img{
    float:left;
}

#home .package p
{
	margin:0;
	padding:0;
	font-size:12px;
}

#twitter {
    margin-top:110px;
}

/*---------------------------------- BOOK NOW (All) -------------------------------------------------*/

.book-now h1{
    font-weight:normal;
	font-size: 2.67em;
	margin: 39px 0 0 0
}

.book-now #progress {
	margin: 0px;
}

.book-now .button{
    position:absolute;
}

.book-now .highlighted{
    width:157px;
    right:0px;
    bottom:0px;
}

.book-now .back{
    position:absolute;
    top:-38px;
}

/*---------------------------------- BOOK NOW 1 -----------------------------------------------------*/

#book-now-1 .recImage{
    display:none;
}

#book-now-1 .package h2{
	font-size: 1em;
	width: 91%;
	margin: 0 auto;
}

#book-now-1 a.info{
	font-size:0.9em;
	color:#35796c;
	text-decoration: none;
}

#book-now-1 .package {
	width: 33%;
	float: left;
	text-align: center;
}

#book-now-1 .package img{
	width: 93%;
	float:none;
	margin:0;
    margin-top:-16px;
}

#book-now-1 .package label:hover{
    cursor:pointer;
}

#book-now-1 input[type="radio"]{
	margin: 6px auto;
    visibility:hidden;
}

/* Trying to get the non-selected package label (image and title) to fade out.*/
#book-now-1 input[type="radio"]~label{
	opacity:0.5;
}

#book-now-1 input[type="radio"]:checked~label{
	opacity:1.0;
}

#book-now-1 .note{
	font-size:0.8em;
	color:#504e4f;
	display:block;
}

#book-now-1 fieldset{
	border: 1px solid #acd5c3;
	background-color:white;
}

#book-now-1 #part2{
    height:305px;
    width:440px;
    margin: 0 auto;
}

#book-now-1 .form-column{
	width:220px;
    height:300px;
    float:left;
}

#book-now-1 #column2{
    text-align:right;
    position:relative;
}

/*---------------------------------- BOOK NOW 2 -----------------------------------------------------*/

#book-now-2 #part1{
    position:relative;
    height:228px;
}

#book-now-2 #part2{
    position:relative;
    text-align:right;
    height:85px;
}

#book-now-2 #part2 h2{
    margin-right:85px;
}

#book-now-2 #selection{
    border: 1px solid #acd5c3;
	background-color:white;
    position:absolute;
    padding:5px;
    width:464px
}

#book-now-2 #selection img{
    float:left;
    margin-right:10px;
}

#book-now-2 #selection ul{
    float:left;
    list-style:none;
    margin:0;
    padding:0;
}

#book-now-2 #selection .titles{
    font-weight:bold;
    width:80px;
}

#book-now-2 #selection .price{
    font-size:1.2em;
    font-weight:bold;
    border-top:1px solid #acd5c3;
}

/*---------------------------------- BOOK NOW 3 -----------------------------------------------------*/

#book-now-3 #part1{
    position:relative;
}

#book-now-3 #part2{
    position:relative;
    height:393px;
}

#book-now-3 .form-column{
	width:239px;
    float:left;
    height:197px;
}

#book-now-3 h3{
    display:inline;
}

#book-now-3 input[type="text"], #book-now-3 input[type="email"], #book-now-3 input[type="tel"]{
    width:215px;
    padding:6px;
    margin:5px 0;
}

#book-now-3 input[type="date"], textarea, select{
	padding: 6px;
}

#book-now-3 #column2 select{
    margin-top:27px;
}

#book-now-3 label[for="expiry-month"]{
    margin-right:200px;
}

#book-now-3 label[for="secure-code"]{
    margin-left:5px;
    margin-right:5px;
}

#book-now-3 #secure-code{
    width:40px;
}
/*---------------------------------- BOOK NOW 4 -----------------------------------------------------*/

#book-now-4 #part1{
    position:relative;
}

#book-now-4 #part2{
    position:relative;
    height:110px;
}

#book-now-4 #part2 p{
    font-size:0.85em;
    width:235px;
    position:absolute;
    right:0px;
    bottom:50px;
}

#book-now-4 .button{
    right:0px;
    bottom:0px;
}

#book-now-4 #confirmation{
    font-size:2em;
    background-color:white;
    display:block;
    padding:10px;
    width:150px;
    text-align:center;
    border:1px solid #acd5c3;
}

/* --------------------------------- Enter Code (Manage Bookings) -----------------------------------*/

#enter-code h1{
    margin:0px;
}

#enter-code input[type="text"]{
	padding:6px 10px;
}

#enter-code .button{
	width:150px;
	display: inline;
	padding: 3px 15px;
	top: 2px;
}

/* --------------------------------- Manage Bookings ------------------------------------------------*/

#manage-bookings .booking-summaries {
	border: 1px solid #acd5c3;
	background-color:white;
	padding: 2px 26px 10px 22px;
    padding:10px;
    margin:0;
}

#manage-bookings .booking-summaries legend{
    text-align:right;
    
}

#manage-bookings .booking-summaries li{
    margin:5px 0px;
    padding:0;
    list-style-type: none;
}

#manage-bookings .booking-summaries ul{
    padding:0px;
    margin:0px;
    float:left;
}

#manage-bookings .booking-summaries .titles {
    width:160px;
}

#manage-bookings .booking-summaries ul li{
    height:35px;
}

#manage-bookings .booking-summaries h4{
	display:inline;
    font-size:1.1em;
}

#manage-bookings .booking-summaries li a{
	color:rgb(53, 121, 108);;
}

#manage-bookings .editable {
    margin-top:-8px;
    width:200px;
}

/* --------------------------------- Tours & Packages -----------------------------------------------*/

#tours-packages .recImage{
    display:none;
}

#tours-packages #part2 h1{
    font-weight:600;
}

#tours-packages #part2 h3{
    font-size:1.2em;
    margin-top:5px;
    color:#246b78;
    font-weight:400;
}

#tours-packages .fine-print{
    font-size:0.7em;
    color:grey;
}

#tours-packages #part2 a{
    font-weight:bold;
}

#tours-packages .package h2{
	font-size: 1em;
	width: 91%;
	margin: 0 auto;
    color:black;
}

#tours-packages a.info{
	font-size:0.9em;
	color:#35796c;
	text-decoration: none;
}

#tours-packages .package {
	width: 33%;
	float: left;
	text-align: center;
}

#tours-packages .package img{
	width: 93%;
	float:none;
	margin:0;

}

#tours-packages #choose-package{
    height:180px;
}

/* --------------------------------- Flight Schedule ------------------------------------------------*/

#flight-schedule #part1{
    position:relative;
    min-height:350px;
}

#flight-schedule .cal-month{
    width:478px;
}

#flight-schedule .cal-row{
    width:478px;
}

#flight-schedule .cal-cell{
    width:56px;
}

/* --------------------------------- ABOUT US -------------------------------------------------------*/

#about-us h1{
    margin:0px;
}

#about-us .founder img{
    height:170px;
    float:left;
    margin-right:10px;
}


.founder {
    height:170px;
    margin-top:20px;
}

#about-us p{
	font-size:0.9em
}

/* --------------------------------- FAQ ------------------------------------------------------------*/

#faq h1
{
	margin:0px;
	padding:0px;
	font-size:1.5em;
	font-weight:600;
}

#faq ul{
    margin-bottom:10px;
}

#faq #part2{
    border-top:1px solid black;
    margin-top:15px;
    padding-top:10px;
}



/*---------------------------------- CONTACT US -----------------------------------------------------*/


#contact-us h1{
    margin-top:0px;
}


#contact-us .note{
	font-size:0.9em;
}


#contact-us textarea{
	margin-left: 6px;
    margin-top:5px;
	width:312px;
}


#contact-us iframe{
    margin-left:26px;
}

.small-frame{
    display:none;
}


/* --------------------------------- FOOTER ---------------------------------------------------------*/

footer
{
	width:530px;
    height:160px;
	margin:0 auto;
}

.footer-info
{
    height:100px;
    width: 103px;
    padding-left: 22px;
}
