@charset "utf-8";
/* CSS Document */

header {
    width:100%;
}

#logo {
    width:263px;
    display:block;
    margin:0 auto;
}

/* --------------------------------- NAVIGATION -----------------------------------------------------*/

nav
{
    display:block;
    margin:0 auto;
	background-color:rgba(22, 28, 48, 0.5);
    width:530px;
    height:40px;
}

nav ul
{
    padding:0px;
	margin:10px;
    position:relative;
    top:10px;
}

nav ul li
{
	list-style:none;
	margin:0 4px;
	display:inline;
}

nav ul li a
{
	color:#FFF;
	text-decoration:none;
}

nav ul li a:hover
{
	color:#999;
}

/* --------------------------------- CONTENT --------------------------------------------------------*/

.main {
    width:478px;
    margin:10px auto;
    padding:25px;
    background-color:rgba(255, 255, 255, 0.8);
    border:1px solid white;
}

.button, button
{
	display:block;
	text-decoration:none;
	color:#292929;
	margin-top:20px;
	background-image:url(../images/button_texture.png);
	background-repeat:repeat-x;
	border:1px solid #b1b2b2;
	position:relative;
	font-size:20px;
}

.button{
	padding:10px 20px;
	height:27px;
	text-align:center;
}

.highlighted
{
	font-weight:600;
	background-image:url(../images/button_highlighted_texture.png);
	border:1px solid #49a994;
}

.button:hover
{
	opacity:0.75;
}

/*---------------------------------- HOME -----------------------------------------------------------*/

#home h1{
    margin:0 auto;
    padding:0;
    width:380px;
    font-weight:normal;
}

#home .button {
    float:left;
}

#home .highlighted {
    margin-right:22px;
    margin-left:32px
}

#home #part1 {
    height:255px;
}

#home .package{
    height:120px;
    width:414px;
    margin:0 auto;
}

#home .package img{
    float:left;
}

#home .package h2
{
	margin:0;
	padding:0;
	font-size:16px;
}

#home .package p
{
	margin:0;
	padding:0;
	font-size:12px;
}

#home .package_description
{

	float:left;
	width:195px;
	clear:right;
	margin-left:10px;
	color:black;
}

#home a .package span.details
{
	color:#246b78;
	text-decoration:none;
	font-weight:600;
}

#home a:hover .package span.details
{
	color:#292929;
}

/*---------------------------------- BOOK NOW (All) -------------------------------------------------*/

.book-now h1{
    font-weight:normal;
	font-size: 2.67em;
	margin: 39px 0 0 0
}

.book-now #progress {
	font-size: 1.3em;
	float: right;
	margin: 0px 0px;
	color:#a8acad;
}

.book-now #progress .active{
	color:black;
	font-weight:bold;
}

.book-now #progress .separator{
	font-size: 0.6em;
}

.book-now .button{
    position:absolute;
}

.book-now .highlighted{
    width:157px;
    right:0px;
    bottom:0px;
}

.book-now .back{
    position:absolute;
    top:-38px;
}

/*---------------------------------- BOOK NOW 1 -----------------------------------------------------*/

#book-now-1 .package h2{
	font-size: 1em;
	width: 91%;
	margin: 0 auto;
}

#book-now-1 a.info{
	font-size:0.9em;
	color:#35796c;
	text-decoration: none;
}

#book-now-1 .package {
	width: 33%;
	float: left;
	text-align: center;
}

#book-now-1 .package img{
	width: 93%;
	float:none;
	margin:0;
    margin-top:-16px;
}

#book-now-1 .package label:hover{
    cursor:pointer;
}

#book-now-1 input[type="radio"]{
	margin: 6px auto;
    visibility:hidden;
}

/* Trying to get the non-selected package label (image and title) to fade out.*/
#book-now-1 input[type="radio"]~label{
	opacity:0.5;
}

#book-now-1 input[type="radio"]:checked~label{
	opacity:1.0;
}

#book-now-1 .note{
	font-size:0.8em;
	color:#504e4f;
	display:block;
}

#book-now-1 fieldset{
	border: 1px solid #acd5c3;
	background-color:white;
}

#book-now-1 #part2{
    height:305px;
    width:440px;
    margin: 0 auto;
}

#book-now-1 .form-column{
	width:220px;
    height:300px;
    float:left;
}

#book-now-1 #column2{
    text-align:right;
    position:relative;
}

/*---------------------------------- BOOK NOW 2 -----------------------------------------------------*/

#book-now-2 #part1{
    position:relative;
    height:228px;
}

#book-now-2 #part2{
    position:relative;
    text-align:right;
    height:85px;
}

#book-now-2 #part2 h2{
    margin-right:85px;
}

#book-now-2 #selection{
    border: 1px solid #acd5c3;
	background-color:white;
    position:absolute;
    padding:5px;
    width:464px
}

#book-now-2 #selection img{
    float:left;
    margin-right:10px;
}

#book-now-2 #selection ul{
    float:left;
    list-style:none;
    margin:0;
    padding:0;
}

#book-now-2 #selection .titles{
    font-weight:bold;
    width:80px;
}

#book-now-2 #selection .price{
    font-size:1.2em;
    font-weight:bold;
    border-top:1px solid #acd5c3;
}

/*---------------------------------- BOOK NOW 3 -----------------------------------------------------*/

#book-now-3 #part1{
    position:relative;
}

#book-now-3 #part2{
    position:relative;
    height:80px;
}

/*---------------------------------- BOOK NOW 4 -----------------------------------------------------*/

#book-now-4 #part1{
    position:relative;
}

#book-now-4 #part2{
    position:relative;
    height:110px;
}

#book-now-4 #part2 p{
    font-size:0.85em;
    width:235px;
    position:absolute;
    right:0px;
    bottom:50px;
}

#book-now-4 .button{
    right:0px;
    bottom:0px;
}

#book-now-4 #confirmation{
    font-size:2em;
    background-color:white;
    display:block;
    padding:10px;
    width:150px;
    text-align:center;
    border:1px solid #acd5c3;
}

/* --------------------------------- Enter Code (Manage Bookings) -----------------------------------*/

#enter-code h1{
    margin:0px;
}

#enter-code input[type="text"]{
	padding:6px 10px;
}

#enter-code .button{
	width:150px;
	display: inline;
	padding: 3px 15px;
	top: 2px;
}

/* --------------------------------- Manage Bookings ------------------------------------------------*/

#manage-bookings h1{
    margin:0px;
}

#manage-bookings #part2{
	margin-top:35px;
}

#booking-summaries > li{
	border: 1px solid #acd5c3;
	background-color:white;
	padding: 2px 26px 10px 22px;
}

#booking-summaries h4{
	display:inline;
}

#booking-summaries h3{
	font-size: 1.12em;
}

#booking-summaries h3 .editable{
	text-decoration:underline;
}

#booking-summaries ul li{
	list-style-type: none;
	margin-bottom:5px;
}

#booking-summaries li a{
	color:rgb(53, 121, 108);
}

#manage-bookings h3 .edit{
    display:block;
    clear:both;
}

/* --------------------------------- Tours & Packages -----------------------------------------------*/


#tours-packages .desktop-picker{
    display:none;
}

#tours-packages #part2 h1{
    font-weight:600;
}

#tours-packages #part2 h3{
    font-size:1.2em;
    margin-top:5px;
    color:#246b78;
    font-weight:400;
}

#tours-packages .fine-print{
    font-size:0.7em;
    color:grey;
}

#tours-packages #part2 a{
    font-weight:bold;
}

#tours-packages .package h2{
	font-size: 1em;
	width: 91%;
	margin: 0 auto;
    color:black;
}

#tours-packages a.info{
	font-size:0.9em;
	color:#35796c;
	text-decoration: none;
}

#tours-packages .package {
	width: 33%;
	float: left;
	text-align: center;
}

#tours-packages .package img{
	width: 93%;
	float:none;
	margin:0;

}

#tours-packages #choose-package{
    height:180px;
}

/* --------------------------------- Flight Schedule ------------------------------------------------*/

#flight-schedule #part1{
    position:relative;
    min-height:350px;
}

#flight-schedule .cal-month{
    width:478px;
    margin:0px auto;
}

#flight-schedule h1{
    margin:15px 0 0;
}

#flight-schedule .cal-month h2{
    font-size:16px;
    margin:3px 4px;
    padding:0px;
}

#flight-schedule .month-picker{
    margin-left:30px;
}

#flight-schedule .cal-row{
    text-align:right;
}

#flight-schedule .cal-row{
    width:478px;
    float:left;
}

#flight-schedule .cal-cell{
    width:56px;
    height:28px;
    margin:1px;
    background-color: rgba(255, 255, 255, 0.4);
    float:left;
    padding:5px;
}

#flight-schedule .cal-cell:hover{
    cursor:pointer;
    cursor:hand;
}

#flight-schedule .header{
    height:18px;
}

#flight-schedule .header:hover{
    cursor:default;
}

#flight-schedule .cell-faded{
    color:rgba(0, 0, 0, 0.3);
}

#flight-schedule .details h3 {
    margin:32px 0px;
}

#flight-schedule .details a{
    text-decoration:none;
    color:#246b78;
}

#flight-schedule .details a:hover{
    color:#292929;
}

#flight-schedule .details ul .booked {
    text-decoration:line-through;
}

/* --------------------------------- ABOUT US -------------------------------------------------------*/

#about-us h1{
    margin:0px;
}

#about-us .founder img{
    height:170px;
    float:left;
    margin-right:10px;
}

.job{
	font-weight:normal;
	margin-left:10px;
}

.founder p{
	font-size:0.8em;
}

.founder h3{
		font-size:1em;
		margin: 0;
}

.founder {
    height:170px;
    margin-top:20px;
}

p{
	font-size:0.9em
}

/* --------------------------------- FAQ ------------------------------------------------------------*/

#faq h1
{
	margin:0px;
	padding:0px;
	font-size:1.5em;
	font-weight:600;
}

#faq ul{
	margin:0px;
	padding:0px;
    margin-bottom:10px;
}

#faq ul li{
	list-style:none;
}

#faq #part2{
    border-top:1px solid black;
    margin-top:15px;
    padding-top:10px;
}

#faq .answer {
	display:none;
}

/*---------------------------------- CONTACT US -----------------------------------------------------*/

#contact-us #part2{
	padding-top:13px;
}

#contact-us .subtitle{
	margin-top:-10px;
}

#contact-us h1{
    margin-top:0px;
}

#contact-us h2{
	font-size:1.1em;
}

#contact-us form h2{
	display:inline;
	font-size:1em;
}

#contact-us .note{
	font-size:0.9em;
	color:#504e4f;
	display:inline;
}

#contact-us h3{
	display:inline;
	font-size:1em;
}

#contact-us ul{
	list-style-type: none;
	padding-left: 0;
}

#contact-us ul li a
{
	color:rgb(53, 121, 108);
	/*text-decoration:none;*/
}

#contact-us label{
	width:30px;
}
#contact-us input[type="text"],#contact-us input[type="email"], #contact-us textarea{
	padding:7px 10px;
}

#contact-us input[type="text"]{
	margin-left: 24px;
}

#contact-us input[type="email"]{
	margin-left: 28px;
	margin-top: 4px;
}

#contact-us textarea{
	margin-left: 6px;
    margin-top:5px;
	width:312px;
}

#contact-us .button{
	width: 106px;
	margin-left: 69px;
	margin-top: 5px;
}

#contact-us .message-title{
	top: 10px;
	position: relative;
}

.google-link{
	text-align:left;
}

#contact-us iframe{
    margin-left:26px;
}

/* --------------------------------- FOOTER ---------------------------------------------------------*/

footer
{
	width:530px;
    height:200px;
	margin:0 auto;
	background-color:rgba(22, 28, 48, 0.5);
}

.footer-info
{
	position:relative;
    width:225px;
	height:100px;
	float:left;
	padding-top:15px;
	padding-left:40px;
}

footer h2
{
	font-size:0.9em;
	color:#FFF;
	margin:0;
	padding:0;
	float:left;
	font-weight:600;
}

footer #f-contact{
    margin-right:28px;
}

footer #f-policies{
    margin-right:3px;
}

footer h2 a{
	color:#FFF;
	text-decoration:none;
}

footer ul
{
	margin:0 0 0 10px;
	padding:0;
    float:left;
}

footer ul li
{
	color:#FFF;
	list-style:none;
	font-weight:300;
	font-size:0.9em;
}

footer ul li a
{
	color:#FFF;
	text-decoration:none;
}

footer ul li a:hover
{
	color:#999;
}