@charset "utf-8";
/* CSS Document */

body
{
	/*background-image:url(images/background.jpg);
	background-size:100%;
	background-repeat:no-repeat;*/

	/* Full width background method from this tutorial: http://css-tricks.com/perfect-full-page-background-image/ */
	background: url(images/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	/* End full width background*/

	background-color:#333;
	font-size:14px;
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
}

header
{
	width:980px;
	margin:50px auto 0px;
	position:relative;
}

#logo
{
	margin-left:-22px;
}

nav
{
	display:block;
	background-color:rgba(22, 28, 48, 0.5);
	position:absolute;
	bottom:0px;
	right:0px;
	width:580px;
	height:40px;
}

nav ul
{
	text-align:center;
	padding:0;
	margin:10px auto;
}

nav ul li
{
	list-style:none;
	margin:0 8px;
	display:inline;
}

ul li a
{
	color:#FFF;
	text-decoration:none;
}

ul li a:hover
{
	color:#999;
}

/* --------------------------------------- CONTENT -----------------------------------*/

#main
{
	width:978px;
	height:378px;
	background-color:rgba(255, 255, 255, 0.8);
	position:relative;
	border:1px solid white;
	margin:10px auto 0px;
}

section
{
	height:100%;
	float:left;
	padding:0 30px;
}

section h1
{
	font-weight:normal;
	margin:55px 0 0 0;
	padding:0;
}

#part1
{
	width:429px;
}

.button, button
{
	display:block;
	text-decoration:none;
	color:#292929;
	margin-top:20px;
	
	background-image:url(images/button_texture.png);
	background-repeat:repeat-x;
	border:1px solid #b1b2b2;
	position:relative;
	float:left;
	font-size:20px;
}

.button{
	padding:10px 20px;
	height:27px;
}

button{
	padding:8px;
	height:45px;
}

.highlighted
{
	font-weight:600;
	margin-right:15px;
	background-image:url(images/button_highlighted_texture.png);
	border:1px solid #49a994;
}

.button:hover
{
	opacity:0.75;
}

#progress {
	font-size: 1.3em;
	float: right;
	margin: 30px 30px;
	color:#a8acad;
}

#progress .active{
	color:black;
	font-weight:bold;
}

#progress .separator{
	font-size: 0.6em;
}

fieldset{
	border: 1px solid #acd5c3;
	background-color:white;
}

input[type="date"], textarea, select{
	padding: 6px;
	margin-top: 5px;
}

/*---------------------------------------- HOME --------------------------------------*/

#home #part1{
	border-right:1px solid white;
}

#home #part2{
	width: 414px;
}

#home .package
{
	margin-top:15px;
}

#home .package h2
{
	margin:0;
	padding:0;
	font-size:16px;
}

#home .package p
{
	margin:0;
	padding:0;
	font-size:12px;
}

#home .package img
{
	margin-top:15px;
	float:left;
}

#home .package_description
{
	margin-top:12px;
	float:left;
	width:195px;
	clear:right;
	margin-left:10px;
	color:black;
}

#home a .package span.details
{
	color:#246b78;
	text-decoration:none;
	font-weight:600;
}

#home a:hover .package span.details
{
	color:#292929;
}

/*-------------------------------------- BOOK NOW ------------------------------------*/


#book-now form{
	height:100%;
}

#book-now h1{
	font-size: 2.67em;
	margin: 39px 0 0 0
}

#choose-package{
	margin-top:10px;;
}

#book-now .package h2{
	font-size: 1em;
	width: 91%;
	margin: 0 auto;
}

#book-now #part2{
	width: 421px;
	margin-top: -84px;
	padding: 0px 33px;
}

#book-now #part2 h2{
	font-size: 1em;
	margin-bottom: -3px;
}

#book-now input[type="date"], #book-now select{
	display:block;
	width:157px;
}

#book-now textarea{
	width:194px;
}

#book-now .form-column{
	width:50%;
	float:left;
	margin-top: 92px;
}


#book-now a.info{
	font-size:0.8em;
	color:#35796c;
	text-decoration: none;
}

#book-now .package {
	width: 33%;
	float: left;
	text-align: center;
}

#book-now .package img{
	width: 93%;
	float:none;
	margin:0;
}

#book-now input[type="radio"]{
	margin: 6px auto;
}

/* Trying to get the non-selected package label (image and title) to fade out.*/
input[type="radio"]~label{
	opacity:0.5;
}

input[type="radio"]:checked~label{
	opacity:1.0;
}

#book-now .note{
	font-size:0.8em;
	color:#504e4f;
	display:block;
}

#book-now button{
	margin-top:30px;
	width: 207px;
}


/* --------------------------------------- FOOTER -----------------------------------*/

footer
{
	width:980px;
	height:125px;
	position:relative;
	margin:40px auto 0px;
	background-color:rgba(22, 28, 48, 0.5);
}

.footer-info
{
	position:relative;
	height:100%;
	float:left;
	padding-top:15px;
	padding-left:62px;
}

footer h2
{
	font-size:0.9em;
	color:#FFF;
	margin:0;
	padding:0;
	float:left;
	font-weight:600;
}

footer h2 a{
	color:#FFF;
}

footer ul
{
	margin:0 0 0 10px;
	padding:0;
	float:left;
}

footer ul li
{
	color:#FFF;
	list-style:none;
	font-weight:300;
	font-size:0.9em;
}