@charset "utf-8";
/* CSS Document */

body
{
	background-image:url(images/background.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	background-color:#333;
	font-size:14px;
	font-family:"Open Sans", Arial, Helvetica, sans-serif;
}

header
{
	width:980px;
	margin:50px auto 0px;
	position:relative;
}

#logo
{
	margin-left:-22px;
}

nav
{
	display:block;
	background-color:rgba(22, 28, 48, 0.5);
	position:absolute;
	bottom:0px;
	right:0px;
	width:530px;
	height:40px;
}

nav ul
{
	text-align:center;
	padding:0;
	margin:10px auto;
}

nav ul li
{
	list-style:none;
	margin:0 12px;
	display:inline;
}

ul li a
{
	color:#FFF;
	text-decoration:none;
}

ul li a:hover
{
	color:#999;
}

#main
{
	width:978px;
	height:378px;
	background-color:rgba(255, 255, 255, 0.8);
	position:relative;
	border:1px solid white;
	margin:10px auto 0px;
}

section
{
	height:100%;
	float:left;
	padding:0 30px;
}

section h1
{
	font-weight:normal;
	margin:55px 0 0 0;
	padding:0;
}

#introduction
{
	width:429px;
	border-right:1px solid white;
}

.package
{
	margin-top:15px;
}

.package h2
{
	margin:0;
	padding:0;
	font-size:16px;
}

.package p
{
	margin:0;
	padding:0;
	font-size:12px;
}

.package img
{
	margin-top:15px;
	float:left;
}

.package_description
{
	margin-top:12px;
	float:left;
	width:195px;
	clear:right;
	margin-left:10px;
	color:black;
}

a .package span.details
{
	color:#246b78;
	text-decoration:none;
	font-weight:600;
}

a:hover .package span.details
{
	color:#292929;
}

.button
{
	display:block;
	text-decoration:none;
	color:#292929;
	margin-top:20px;
	height:27px;
	background-image:url(images/button_texture.png);
	background-repeat:repeat-x;
	border:1px solid #b1b2b2;
	position:relative;
	float:left;
	font-size:20px;
	padding:10px 20px;;
}

.highlighted
{
	font-weight:600;
	margin-right:15px;
	background-image:url(images/button_highlighted_texture.png);
	border:1px solid #49a994;
}

.button:hover
{
	opacity:0.75;
}

footer
{
	width:980px;
	height:125px;
	position:relative;
	margin:40px auto 0px;
	background-color:rgba(22, 28, 48, 0.5);
}

.footer-info
{
	position:relative;
	height:100%;
	float:left;
	padding-top:15px;
	padding-left:62px;
}

footer h1
{
	font-size:0.9em;
	color:#FFF;
	margin:0;
	padding:0;
	float:left;
	font-weight:600;
}

footer h1 a{
	color:#FFF;
}

footer ul
{
	margin:0 0 0 10px;
	padding:0;
	float:left;
}

footer ul li
{
	color:#FFF;
	list-style:none;
	font-weight:300;
	font-size:0.9em;
}